body {font-family: 'Trebuchet MS', sans-serif;}

.my_font {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.header {
  margin: 0;
}

.search {
  padding-bottom: 100px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.background_image {
  background-image: url("flowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.search_color {
  background-image: url("flowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: 36px;
  color: white;
  paxdding: 10px;
  toxp: 20px;
}
.main_bg {
  width: 100%;
  background-image: linear-gradient(45deg, #006399, #0074b3, #0085cc);
  margin: auto;
}

.rules-a {
  text-decoration: none;
}
.rules-a:link {
  color: green;
}

/* visited link */
.rules-a:visited {
  color: green;
}

/* mouse over link */
.rules-a:hover {
  color: red;
}

/* selected link */
.rules-a:active {
  color: yellow;
}

.my_shadow {
  box-shadow: 5px 5px 25px #111;
}

.wave-btn {
  color: #fff;
  box-shadow: 5px 5px 15px #333;
  text-decoration: none;
  text-align: center;
  background: #222;
  padding: 24px 0px;
  width: 100%;
  display: block;
  border: 3px solid #0097e6;
  font-size: 18px;
  font-weight: 600;
  font-family: "Noto Sans";
  border-radius: 10px;
  transform: translate(0%, 0%);
  overflow: hidden;
  transition: all .75s;
}
.wave-btn:before {
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 170%;
  position: absolute;
  border-radius: 0px;
  background-color: #0097e6;
  transform: translate(-50%);
  anixmation: wave 10s infinite linear;
  transition: all .75s;
}
.wave-btn:hover {
  -moz-transform: scale(1.04); /* mozF */
  -ms-transform: scale(1.04); /* IE 9 */
  -webkit-transform: scale(1.04); /* Safari 3-8 */
  transform: scale(1.04);
}
.wave-btn:hover{
  box-shadow: 10px 10px 15px #333;
}

.wave-btn:hover:before {
  top: 0px;
}

@keyframes wave {
  0% {
     transform: translate(-50%) rotate(-180deg);  
  }
    
    
  100% {
       transform: translate(-50%) rotate(360deg);
  }
}